< head>
‹meta charset="UTF-8">
‹meta name="viewport" content="width=device-width, initial-scale=1.0">
«link rel="stylesheet" href="assets/style.css">
<title>Flashcards</title>
</head>
body {
background-color: bisque;
｝
footer {
background-color: black
color: white;
}
footer {
background-color: black;
color: white;
bottom: 0;
｝
footer {
background-color: black;
color: white;
position: fixed;
bottom: 0;
}
footer 1
background-color: black;
color: white;
position: fixed;
bottom: 0; width: 100%;
}
footer p {
text-align: center; font-size: 0.6rem;
}